@charset "ISO-8859-1";

:root { 
	--background: #ff6700;
}

/* For the input type "number" this code remove the scroll
that shows by default on the right side */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*This is the same code as above,
but for Firefox browsers */
input[type=number]{
    -moz-appearance: textfield;
}

body {
	margin: 0;
	padding: 0;
}
* {
  box-sizing: border-box;
} 

/* -----The css for the index page -----*/

.homePage {
	background-color: #485461;
	background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.homePage-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	
}
.homPage-header {

	width: 100%;
	text-align: center;
	color: #ffffff;
}
.homPage-header h1, h2 {
	margin: 0;
	font-size: 45px;
}
.homPage-header h3 {
	font-size: 20px;
}

.homePage-btn-container {
	display: flex;
	justify-content: space-around;
	width: 60%;
	border-radius: 10px;
	background-color: #2c3742;
	padding: 20px;
}
#signUpBtn {
	background-color: #4ee44e;
	border: 2px solid #ffffff;
	text-decoration: none;
	border-radius: 20px;
	padding: 10px 20px;
	color: #ffffff;
	font-size: 30px;
	width: 30%;
	text-align: center;
	box-shadow: 1px 2px 4px #888888;
	transition: 0.5s ease-in;
}
#signUpBtn:hover {
	border: 2px solid #ffffff;
	background-color: #00b374;
	transition: 0.5s ease-in;
}


#clientSearchBtn {
	background-color: #ffa500;
	border: 2px solid #ffffff;
	text-decoration: none;
	border-radius: 20px;
	padding: 10px 20px;
	color: #ffffff;
	font-size: 30px;
	width: 30%;
	text-align: center;
	box-shadow: 1px 2px 4px #888888;
	transition: 0.5s ease-in;
}
#clientSearchBtn:hover{
	border: 2px solid #ffffff;
	color: #ffffff;
	background-color: #b37400;
	transition: 0.5s ease-in;
}

/*-----Sign up page-----*/

.signUp-container {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 623px;
	background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}
.signUp-form {	
	box-shadow: 1px 2px 3px #000000;
	background-color: #ffffff;
	display: flex;
	border-radius: 5px;

}

.signUpPage-LeftSideWrapper, .signUpPage-RightSideWrapper{
	flex: 1;
	padding: 25px;
}
.signUpPage-LeftSideWrapper{
	border-right: 1px solid #e0e0e0;
}

.signUp-header-underline {
	width: 3rem;
	height: 0.25rem;
	background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
	margin-bottom: 20px;
	margin-top: 0.5rem;
}


#signUp-formID {
	display: flex;
}


.signUp-form h1{
	margin: 0;
	padding: 0;

}
.signUp-form h3 {
	margin: 0;
	padding: 0;
}
.signUp-form input[type=text], .signUp-form input[type=number]   {
	outline: none;
	border: none;
	padding: 5px 0;
	border-bottom: 1px solid black;	
	
}

.signUp-form input[type=text] {
	text-indent: 10px;
}


.signUp-form select {
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	padding: 5px 10px;
} 

.signUp-form input[type=submit] {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	
}

.signUp-name, .signUp-address, .signUp-email, .signUp-taxRes {
	display: flex;
  	flex-direction: column;
}

.signUp-name, .signUp-DOB, .signUp-address, .signUp-phoneNumber {
	margin-bottom: 10px;
}

#areaCodeBox {
	width: 20%;
} 
#phoneNumberBox{
	width: 30%;
}


#signUpCancel{
	text-decoration: none;
}
#signUpCancel:hover{
	text-decoration: underline;
}

.signUp-submit {
	margin-top: 15px;
}
.signUp-submit input {
	font-size: 18px;
	border: none;
	outline: none;
	margin: 10px 0;
	background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
	color: white;
	padding: 5px 0;	
}
.signUp-submit input:hover {
	font-style: italic;
	font-weight: bold;
	background: var(--background);
}

.signUp-cancel {
	text-align: center;
}

/*-----The adminMain.jsp css-----*/

.adminMain-container {
display: flex;
width: 100%;
align-items:center;
justify-content: center;
height: 620px;
background: linear-gradient(to top left, blue, grey);	


}

.adminMain-search-wrapper {
	width: 30%;
	background-color: #ffffff;
	box-shadow: 1px 2px 5px black;

	
}

.adminMain-search1, .adminMain-search2 {
	padding: 20px;
}
.adminMain-search1 {
	border-bottom: 1px solid #e0e0e0;
}
.adminMain-search1 h3, .adminMain-search2 h3 {
	text-align: center;
	font-size: 20px;
}

.adminMain-search1-form, .adminMain-search2-form {
	display: flex;
	flex-direction: column;
}

.adminMain-search1-form input[type=text], .adminMain-search2-form input[type=number]{
	padding: 8px 0;
	text-indent: 10px;
}

.adminMain-search1-form input[type=submit], .adminMain-search2-form input[type=submit]{
	margin-top: 20px;
	outline:none;
	font-size: 16px;
	padding: 5px;
	background-color: #1569C7;
	border: none;
	cursor: pointer;
	color: white;
	transition: 0.3s
}
.adminMain-search1-form input[type=submit]:hover, .adminMain-search2-form input[type=submit]:hover {
	background-color: #0041C2;
	font-style: italic;
	font-weight: bold;
}
.signUp-cancel-btn {
	text-align: center;
}
.signUp-cancel-btn a {
	text-decoration: none;

}
.signUp-cancel-btn a:hover {
	text-decoration: underline;
	font-style: italic;
}

/*-----The adminResults page -----*/

.adminResults-sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e1c699;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
	
}
.adminResults-sidebar a{
	text-decoration: none;
}
.adminResults-sidebar a:hover {
	text-decoration: underline;
	font-style: italic;
}
.adminResults-main{
	margin-left: 160px;
	padding-left: 10px;
}

.adminResults-headers {
	display: flex;
	border: 1px solid red;
	width: 40%;
	justify-content: space-between;
	 background-color: #e1c699;
	 padding-right: 10px;
}
.adminResults-headers h3{
	margin: 0;
}
.adminResults-headers input[type=submit]{
	padding: 0;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}
.adminResults-headers input[type=submit]:hover {
	text-decoration: underline;
	font-style: italic;
	color: blue;
}


/*----The design for editPersonalInfoPage.jsp ----- */
.editPersonal-dateOfBirth {
	margin: 20px 0;
}
#editPersonal-yearOfBirth {
	width: 60px;
}



/* -----The design for editContactInfoPage ----- */
.editContactInfo-phoneNumberWrapper {
		margin: 20px 0;
}


/* common code for all edit views */

.editingSubmit input[type=submit]{
	cursor: pointer;
	width: 5%;
	margin-top: 20px;
	padding: 2px 1px;
}

.editingCancel input[type=submit] {
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
	cursor: pointer;
	padding: 0;
}
.editingCancel input[type=submit]:hover {
	text-decoration: underline;
	font-style: italic;
}

/* ----- The design for editTaxResidencyPage ----- */
.editTaxRes-Canadian, .editTaxRes-US, .editTaxRes-Other {
	margin: 20px 0;
}

